body {
	margin: 0;
	padding: 0;
}

header {
	background: #999;
	color: green;
	margin: 0;
	padding: 5px 5px 5px 5px;
}

header h3 {
	margin: 0;
	display: inline;
}

nav ul{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	background: black;
	color: green;
	display: inline-block;
	list-style-type:none;
	padding: 5px 10px;
	margin: 0;
}

nav ul li a{
	color: green;
}

.col{
	background: #333;
	border-radius: 5px;
	color: aqua;
	padding: .5%;
	float: left;
	margin: .5%;
	width: 31%;
}

footer {
	clear: both;
}
